<!DOCTYPE html>
<html>
  <head>
    <title>1644</title>

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
   <a class="navbar-brand" style="color:rgb(4, 191, 228)" href="/">Home</a>
  <body>
    <h1 style="color: ;green">Edit</h1>
    <form class="card p-3 bg-light text-center mt-3 mb-3" action="/edit" method="post">
    <input type="hidden" name="id" value="{{product._id}}">
            <div class="form-group">
                <label class="h3 text-secondary">Name</label> <input type="text" name="txtName" value="{{product.name}}" class="form-control" required></div>
            <div class="form-group">
                <label class="h3 text-secondary">Price</label><input type="text" name="txtPrice" value="{{product.price}}" class="form-control" required $></div>
            <div class="form-group">
                <label class="h3 text-secondary">Picture</label><input type="text" name="txtPic" value="{{product.picture}}"class="form-control" required ></div>
            <div class="form-group">
                <label class="h3 text-secondary">Quantity</label><input type="text" name="txtQty" value="{{product.qty}}" class="form-control" required></div>
        <input type="submit" value="Update Product" style="color: red;">
    </form>
</body>
</html>